*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    background-color: #f5dcf478;
}

main{
    margin-left: 230px;
    margin-top: 10px;
    padding: 20px;
    flex: 1;
}

strong{
    font-weight: 700;
    font-variant-caps: normal;
    letter-spacing: 1px;
}

span{
    font-weight: bolder;
}

.titulo{
    font-family: sans-serif;
    font-size: 6vw;
    text-align: center;
    margin-left: 25%;
    padding-top: 1%;
}

h2{
    font-size: 5vw;
}

h3{
    font-size: 4.2vw;
}

p{
    font-size: 2vw;
    font-weight: 500;
}

.container_foto{
    height: 100vh;
    width: 234px;
    background-color: #333;
    color: white;
    position: fixed;
    left: 0;
    top: 0px;
    padding-top: 20px;
    overflow-y: auto;
    margin-left: 0%;     
}

.container_imagem{
    display: flex;
    justify-content: center;
}

.imagem{
    border-radius: 55% 55% 55% 55%;
    width: 80%;
    border: 3px solid black;
}

.container_contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

.container_links_contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: fangsong;
    gap: 25px;
}

a{
    text-decoration: none;
    font-size: 3vw;
    color: aqua;
}

.titulo_contatos{
    text-align: center;
}